body {
    margin: 0;
}
.menu {
    padding: 0;
    margin: 0;
}
.menu li {
    list-style: none;
    float: left;
    height: 30px;
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: center;
    background:  greenyellow;
    position: relative;
    padding-top: 10px;
}
.menu li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    display: none;
    position: absolute;
}
.menu li ul li {
    float: none;
    height: 30px;
    margin: 0;
    width: 150px;
    text-align: center;
    background: yellowgreen;
}
.menu li a {
    display: block;
    width: 150px;
    height: 30px;
    color: black;
    text-decoration: none;
}

.menu li:hover ul {
    display: block;
}
.menu li:hover {
    background: green;
}
.menu li ul li ul {
left:150px;
top: 0;
}
.menu li ul li ul li {
    display: none;
}
.menu li ul li:hover ul li {
    display: block;
}

.clearfix {
    clear: both;
}